@{
    ViewBag.Title = "CentCom";
}
<h2 class="mb-3">Data Aggregation Bots</h2>
<p>
    CentCom makes use of automated data aggregators which collect information from consenting websites. The information provided by our consenting partners is temporarily replicated within CentCom's databases, and is
    updated often to reflect any modification or deletion of the source data. If your site is being parsed by CentCom without your consent, or you otherwise have any issues, contact the
    developer bobbahbrown through Discord at @@bobbahbrown.
</p>
<p>
    Our aggregators can be identified by their user agent: <code>Mozilla/5.0 (compatible; CentComBot/&lt;version&gt; +https://centcom.melonmesa.com/scraper)</code>
</p>