body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
        padding: 0px;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.ban-container {
    margin-left: 0.5rem;
    border-left: 5px solid #5497e0;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.ban-container.active-ban {
    border-left: 5px solid #6cba43;
}

.ban-container.expired-ban {
    border-left: 5px solid #d5a746;
}

.ban-container:not(:last-child) {
    margin-bottom: 0.6rem;
}

.ban-title {
    line-height: 1.2;
    font-weight: bold;
    font-size: 20px;
    margin: 0.5rem;
}

.ban-contents {
    margin: 0.5rem;
}

.ban-contents > *:not(:last-child) {
    margin-bottom: 0.4rem;
}

.ban-trait {
    display: inline-block;
}

.ban-trait:not(:last-child) {
    padding-right: 0.5rem;
}

#ckey-search {
    margin-left: 1rem;
    margin-right: 1rem;
}