@model BanSearchViewModel
@{
    ViewBag.Title = "CentCom | Search Bans";
}
<h2 class="mb-3">Search Results for '@Model.CKey'</h2>

<div class="pl-1 pr-1">
    <div>
        <p>
            Uh oh! Looks like the search request you tried was too short, or an invalid string. Try again with something longer!
        </p>
    </div>
</div>
