@{
    ViewBag.Title = "CentCom";
}
<h2 class="mb-3">CentCom Viewer</h2>
<p>
    You can use this simple application to search through bans that are stored within CentCom. Type a ckey into the search box above to begin a query.
    <br /><br />
    To view information on the API for CentCom, and how to use it, go to the <a href="/swagger">API Documentation</a>.
</p>